<div data-controller="effect--click-to-hide-left-component" class="transition-all open:w-0 duration-200 ease-in-out">
  <%= content %>
</div>


<div class="group flex flex-row w-full">
  <div class="bg-blue-500 w-1/3 transition-all group-hover:w-0 duration-200 ease-in-out">aaaaaaaaaaaaaaaaa</div>
  <div class="bg-green-500 w-full">
    asnkjsakljdakljfkla
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>