<div id="<%= dom_id calendar_user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Calendar userable:</strong>
    <%= calendar_user.calendar_userable_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= calendar_user.discarded_at %>
  </p>

</div>
