<div class="flex-col" data-controller="views--components--accordion-component">
  <div class="scroll-m-20 text-4xl font-bold tracking-tight">Accordion</div>
  <div>Params:</div>
  <div>content_class</div>
  <div>event_id</div>
</div>
