<div class="w-full" data-controller="views--components--basic-component">
  Add Views::Components::Basic template here
  <%= text(type: :code, klass: "w-full", label: Constants::SAMPLE_ERB_CODE, event_id: 'copy code id') %>
</div>
