<div class="flex flex-col items-center w-5/6" data-controller="views--components--basic-component">
  Add Views::Components::Basic template here
  <%= text(type: :code, klass: "h-full w-5/6", label: Constants::SAMPLE_ERB_CODE, event_id: 'copy code id') %>
</div>
