<div data-controller="modal--default-component" class='<%= @klass %>'>
  <div class="<%= @background_class %>">
  </div>
  <div class="<%= @content_class %>">
    <%= content? ? content : "Modal Content here!" %>
  </div>
</div>