<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing calendar event appointment</h1>

  <%= render "form", calendar_event_appointment: @calendar_event_appointment %>

  <%= link_to "Show this calendar event appointment", @calendar_event_appointment, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to calendar event appointments", calendar_event_appointments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
