
  <div data-controller="utilities--comparison-component" class="relative w-[1536px] h-[854px]">
    <%= ratio(event_id: id, klass: 'w-[1536px] h-[854px]') do %>
      <img class="object-cover object-left h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg">
    <% end %>

    <%= ratio(dir: :rtl, event_id: id, is_reverse: true, klass: 'absolute inset-0 w-[1536px] h-[854px]') do %>
      <img class="object-cover object-left rtl:object-right h-full w-full blur-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg">
    <% end %>

    <%= input(type: :comparison) %>
  </div>

