name: skyceer_rspec_test
services:
  web:
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails db:create db:migrate && bundle exec rails assets:precompile && bundle exec rspec"
    environment:
      RAILS_ENV: test
    volumes: !reset null
    depends_on: !reset
      - postgres
      - mongo
      - opensearch
  
  job:
    command: bash -c "sleep 5 && bundle exec rails db:prepare && bin/jobs"
    environment:
      RAILS_ENV: test
    volumes: !reset null

  opensearch_dashboards: !reset null

  grafana: !reset null