name: skyceer_development
services:
  web:
    build: .
    # command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails db:prepare && bundle exec rails assets:precompile && bundle exec rails s -p 3000 -b '0.0.0.0'"
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails db:prepare && bundle exec rails assets:precompile && bundle exec thrust bin/rails s"
    # command: bash -c "rm -f tmp/pids/server.pid && bin/dev"
    # restart: on-failure:3
    environment:
      # For Thruster
      DEBUG: "true"
      # HTTP_PORT: 8080

      # For Rails 
      RAILS_ENV: development
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
      # OTEL_EXPORTER_OTLP_ENDPOINT: http://monitor:4318
      # PWD: /rails
      # POSTGRES_HOST: postgres
      # ELASTICSEARCH_HOST: elasticsearch
      # MONGO_HOST: mongo
    volumes:
      - .:/rails
    ports:
      # - "3000:3000"

      # Use Thruster to handle port 80 and 443
      # - "8080:8080"
      - "80:80"
      - "443:443"
    stdin_open: true
    tty: true
    depends_on:
      - postgres
      - mongo
      - opensearch
      - opensearch_dashboards

  job:
    build: .
    command: bash -c "sleep 30 && bundle exec rails db:prepare && bin/jobs"
    environment:
      RAILS_ENV: development
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
      # DATABASE_URL: "postgres://postgres:password@postgres:5432/skyceer_development"
      # MONGODB_URL: "mongodb://mongo:27017/skyceer_development"
      # PWD: /rails
      # POSTGRES_HOST: postgres
      # ELASTICSEARCH_HOST: elasticsearch
      # MONGO_HOST: mongo
    volumes:
      - .:/rails
    depends_on:
      - web

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  opensearch:
    image: opensearchproject/opensearch:3
    environment:
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: OpensearchPassword@1234
      discovery.type: single-node
      plugins.security.disabled: "true"
      # DISABLE_SECURITY_PLUGIN: "true" # Disables Security plugin
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - es_data:/usr/share/opensearch/data

  opensearch_dashboards:
    image: opensearchproject/opensearch-dashboards:3
    environment:
      - 'OPENSEARCH_HOSTS=["http://opensearch:9200"]'
      - "DISABLE_SECURITY_DASHBOARDS_PLUGIN=true"
    ports:
      - "5601:5601"
    depends_on:
      - opensearch

  grafana:
    # username: admin
    # password: admin
    image: grafana/otel-lgtm
    volumes:
      - grafana_data:/data
    ports:
      - "3000:3000" # Grafana
      - "4317:4317" # OpenTelemetry
      - "4318:4318" # OpenTelemetry
      - "9090:9090" # Prometheus
      - "3100:3100" # Loki

  # elasticsearch:
  #   image: elasticsearch:8.14.1
  #   environment:
  #     discovery.type: single-node
  #     xpack.security.enabled: "false"
  #   ports:
  #     - "9200:9200"
  #   volumes:
  #     - es_data:/usr/share/elasticsearch/data

  # kibana:
  #   image: kibana:8.14.1
  #   environment:
  #     ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
  #   ports:
  #     - "5601:5601"
  #   depends_on:
  #     - elasticsearch

  # For Selenium test
  selenium-chromium:
    image: selenium/standalone-chromium:latest
    shm_size: '2gb'
    ports:
      - "4444:4444"
      - "5900:5900"
      - "7900:7900"
  
  # For Cuprite test 
  # chrome:
  #   # Currently, Apple M1 is only supported in unnumbered "latest" versions.
  #   # See https://github.com/browserless/chrome/issues/1393
  #   image: browserless/chrome
  #   ports:
  #     - "3333:3333"
  #   # Mount application source code to support file uploading
  #   # (otherwise Chrome won't be able to find files).
  #   # NOTE: Make sure you use absolute paths in `#attach_file`.
  #   volumes:
  #     - .:/app:cached
  #   environment:
  #     # By default, it uses 3000, which is typically used by Rails.
  #     PORT: 3333
  #     # Set connection timeout to avoid timeout exception during debugging
  #     # https://docs.browserless.io/docs/docker.html#connection-timeout
  #     CONNECTION_TIMEOUT: 600000
volumes:
  postgres_data:
  mongo_data:
  es_data:
  grafana_data: