<% toggle_sidebar_event_id = SecureRandom.uuid %>

<div class="bg-green-300 h-screen w-1/5">
  <%= render(IconComponent.new(type: :logo, name: :github)) %>
  <%= render(AccordionComponent.new) do %>
    <%= render(ButtonComponent.new(label: "Admin System", event: { id: toggle_sidebar_event_id })) %>
  <% end %>

</div>

<div class="bg-red-300 h-screen w-4/5">

  <%= render(ButtonComponent.new(event: { id: toggle_sidebar_event_id, listener: :click, action: :toggle })) %>
</div>