<div class="hidden" data-controller="<%= @controller %>" data-accordion-component-options-value="<%= @options %>">
  <div data-accordion-component-target="overflow">
    <%= content %>
  </div>
</div>