
<div data-controller="comparison-component" class="flex justify-center items-center w-screen h-screen">
  <div class="wrapper h-[500px] w-[750px] relative">
    <div class="images flex w-full h-full">
      <div class="img1 w-full h-full bg-red-500"></div>
      <div class="img2 absolute left-0 z-10 w-full h-full bg-green-500" style="width: 67%"></div>
    </div>
    <div class="slider absolute top-0 z-20 w-full">
      <input type="range" min="0" max="100" value="50" class="w-full appearance-none bg-inherit [&::-webkit-slider-thumb]:bg-white [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-1 [&::-webkit-slider-thumb]:h-[450px]">
    </div>
  </div>
</div>

