<div data-controller="comparison-component">
  <div data-controller="comparison" class="relative w-[1536px] h-[854px]">
    <%= ratio(event_id: id, klass: 'w-[1536px] h-[854px]') do %>
      <img class="object-cover object-left h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg">
    <% end %>

    <%= ratio(dir: :rtl, event_id: id, is_reverse: true, klass: 'absolute inset-0 w-[1536px] h-[854px]') do %>
      <img class="object-cover object-left rtl:object-right h-full w-full blur-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg">
    <% end %>

    <%=  input(type: :range, min: 0, max: 100, value: 50, klass: 'absolute z-40 top-0 w-full h-full', input_class: 'w-full h-full appearance-none bg-inherit [&::-webkit-slider-thumb]:bg-white [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-1 [&::-webkit-slider-thumb]:h-[854px] [&::-webkit-slider-thumb]:hover:cursor-ew-resize')%>
  </div>
</div>

