<%= tag.div(class: " hidden ", data: {
  controller: "input-component",
  input_component_accept_value: @accept,
  input_component_alt_value: @alt,
  input_component_autocomplete_value: @autocomplete,
  input_component_autofocus_value: @autofocus,
  input_component_checked_value: @checked,
  input_component_dirname_value: @dirname,
  input_component_disabled_value: @disabled,
  input_component_form_value: @form,
  input_component_formaction_value: @formaction,
  input_component_formenctype_value: @formenctype,
  input_component_formmethod_value: @formmethod,
  input_component_formnovalidate_value: @formnovalidate,
  input_component_formtarget_value: @formtarget,
  input_component_height_value: @height,
  input_component_list_value: @list,
  input_component_max_value: @max,
  input_component_maxlength_value: @maxlength,
  input_component_min_value: @min,
  input_component_minlength_value: @minlength,
  input_component_multiple_value: @multiple,
  input_component_name_value: @name,
  input_component_pattern_value: @pattern,
  input_component_placeholder_value: @placeholder,
  input_component_popovertarget_value: @popovertarget,
  input_component_popovertargetaction_value: @popovertargetaction,
  input_component_readonly_value: @readonly,
  input_component_required_value: @required,
  input_component_size_value: @size,
  input_component_src_value: @src,
  input_component_step_value: @step,
  input_component_type_value: @type,
  input_component_value_value: @value,
  input_component_width_value: @width,
  
  input_component_klass_value: @klass,
  input_component_klass_default_value: @klass_default,
  input_component_content_class_value: @content_class,
  input_component_content_class_default_value: @content_class_default,
  input_component_input_class_value: @input_class,
  input_component_input_class_default_value: @input_class_default,
  input_component_format_options_value: @format_options,
}) do %>
  <% if prepends? %>
    <% prepends.each do |prepend| %>
      <%= prepend %>
    <% end %>
  <% end %>

  <div data-input-component-target="content">
    <template>
    </template>
  </div>

  <% if appends? %>
    <% appends.each do |append| %>
      <%= append %>
    <% end %>
  <% end %>
<% end %>
