<%= tag.div(class: ' hidden ', data: {
  controller: "list-component"
}) do %>

  <div data-list-component-target="content">
    <template data-list-component-target="template"><%= content %></template>
  </div>
  
<% end %>