<div class="hidden" data-controller="<%= @controller %>" data-modal-component-options-value="<%= @options %>">
  <div data-modal-component-target="background"></div>
  <div data-modal-component-target="content">
    <%= content %>
  </div>
</div>