<%= tag.div(
  class: "hidden ",
  data: {
    controller: "modal-component",
    modal_component_klass_value: @klass,
    modal_component_background_class_value: @background_class,
    modal_component_content_class_value: @content_class,
    modal_component_klass_default_value: @defaul_klass,
    modal_component_background_class_default_value: @defaul_background_class,
    modal_component_content_class_default_value: @defaul_content_class,
  }) do %>
  <div data-modal-component-target="background">
    <%= render(ToggleComponent.new(klass: "w-full h-full", target_controller_name: 'modal-component')) { "" } %>
  </div>
  <div data-modal-component-target="content">
    <%= content? ? content : "Modal Content here!" %>
  </div>
<% end %>