    <%= render(BoxComponent.new) do %>
      <div>ToggleComponent for this BoxComponent</div>
      <%= render(ButtonComponent.new) do |c| %>
        <% c.with_append do %>
          <%= render(ToggleComponent.new(target_controller_name: 'box-component')) %>
        <% end %>
      <% end %>
    <% end %>