<div class="group flex flex-row w-full">
  <div class="bg-blue-500 w-1/3 transition-all group-hover:w-0 duration-200 ease-in-out">aaaaaaaaaaaaaaaaa</div>
  <div class="bg-green-500 w-full">
    asnkjsakljdakljfkla
  </div>

  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
  <%= render(ButtonComponent.new(button_class: "flex flex-row w-fit justify-center items-center bg-green-500 group-focus:bg-violet-500")) do |component| %>
    <% component.with_effect do %>
      <%= render(Popover::BottomComponent.new) %>
    <% end %>
  <% end %>
  <%= render(LinkComponent.new) %>
  <div tabindex="0" class="bg-red-500 focus:bg-green-500">sdjflkjdsflkjdskl</div>
  <%= tag.div(class: "bg-red-500 focus:bg-green-500", tabindex: 0) do %>
    ld'fl'dslf'dsl;'fls'
  <% end %>