<div>Hello Stimulus!</div>
<%= render(BoxComponent.new) do %>
  <div class="flex flex-row">
    <%= render(ButtonComponent.new) { render(IconComponent.new(name: 'minus')) } %>
    <%= render(ToggleComponent.new) %>
  </div>
  <div>2</div>
  <div>
    <%= render(ButtonComponent.new) { render(IconComponent.new(name: 'plus-circle')) } %>

  </div>

<% end %>