    <% accordion_event_id = SecureRandom.uuid %>

    <%= render(ButtonComponent) %>
    <%= render(AccordionComponent.new(event: { id: accordion_event_id }, accordion_direction: :horizontal)) do %>
      <div>Test Toggle Component</div>
    <% end %>

    <%= render(ButtonComponent.new(event: { id: accordion_event_id, listener: :click, action: :toggle })) %>

