<%= render(IconComponent.new(name: "finger-print", svg_class: "w-20 h-20 text-red-500")) %>


<%= render(Dropdown::HoverComponent.new(label: "Dropdown Hover")) %>
<div class="w-40 h-40 border group">
  <ul class="transition-opacity opacity-0 flex group-hover:opacity-50 duration-1000 ease-in-out">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</div>
<button class="transition-opacity duration-1000 ease-out opacity-10 hover:opacity-100">QQQQQQQQQQQQ</button>
<%= render(IconComponent.new(name: "finger-print", svg_class: "w-20 h-20 text-red-500")) %>
