    <% accordion_event_id = 'test_toggle' %>
    <%= render(ButtonComponent.new(event: { id: accordion_event_id, listener: :hover, action: :toggle })) %>
    <%= render(ButtonComponent.new(event: { id: accordion_event_id, listener: :click, action: :toggle })) %>
    <%= render(AccordionComponent.new(event: { id: accordion_event_id })) do %>
      <div>Test Toggle Component</div>
    <% end %>