<%= render(Icon::DotComponent.new) %>

<div data-controller="" class="p-4 h-96 overflow-hidden">
  <div>
       khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  khlk lkjlkj jkl jlk jl jklj lk jlkj lkj lk jlk jl jkl jl jkj fyug  
    <br />
    <br />
    <br />

  </div>
  <%= render(Button::ReadMoreComponent.new) %>
</div>
<%= render(Button::UpToTopComponent.new) %>