

<%= render(IconComponent.new(name: "finger-print", svg_class: "w-20 h-20 text-red-500")) %>

<%= render(Input::Number::PinCodeComponent.new) %>

<%= render(Tab::DefaultComponent.new) do |c| %>
  <% c.with_headers do %>
    <div>Header 1</div>
    <div>Header 2</div>
    <div>Header 3</div>
    <div>Header 4</div>
  <% end %>
  <% c.with_bodies do %>
    <div>Body 1</div>
    <div>Body 2</div>
    <div>Body 3</div>
    <div>Body 4</div>
  <% end %>
<% end %>