    <%= render(BoxComponent.new) do %>
      <div>Demo Button::CloseComponent for this BoxComponent</div>
      <%= render(ButtonComponent.new) do |c| %>
        <% c.with_append do %>
          <%= render(Button::CloseComponent.new) %>
        <% end %>
      <% end %>
    <% end %>