
<div class="flex flex-col justify-center items-center">
  <%= render(ButtonComponent.new(label: "Test Modal!")) do |component| %>
    <% component.with_effect do %>
      <%= render(Modal::DefaultComponent.new) %>
    <% end %>
  <% end %>  
</div>
