
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>








<div data-controller="hello"></div>
<%= button(label: 'Test Components', event: {id: '123', listener: 'click', action: 'toggle'}, variant: 'gradient_monochrome') %>
