
    <%= box(is_test: true, type: :alert, border: :bordered, color: :blue, klass: 'relative') do %>
      <div>Test Box Component with styles</div>
      <%= box(klass: 'w-fit h-fit', position: :left_center) do %>
        <%= box(klass: 'w-4 h-4 bg-green-500 rounded-full animate-ping') %>
      <% end %>
    <% end %>