
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>








    <%= button(label: 'Test Darkroom', event: { id: new_id, action: :open, listener: :click }) %>

    <%= modal(event: { id: id }, background_class: 'bg-gray-900/80') do %>
      <%= carousel do %>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
        </div>
      <% end %>
    <% end %>