
<%= button(label: 'Test Overlay', klass: "relative w-60 h-40 bg-red-500", event: { id: new_id, action: :toggle, listener: :hover }) do |c| %>
  <% c.with_append do %>
    <%= accordion(is_test: true, controller: "overlay", orientation: :horizontal, klass: '') do %>
      <div data-overlay-target="overlay" class="bg-green-500"></div>
    <% end %>
  <% end %>
<% end %>