<p>/</p>
<p>/</p>
<p>/</p>
<p>/</p>

    <div class="relative">
      <%= button(label: 'Test Popover', klass: "relative w-64 h-40 bg-gray-200", event: { id: new_id, listener: :hover, action: :toggle }) %>
      <%= popover(inside_or_outside: :inside, event_id: id) do %>
        <div class="animate-fade-in bg-red-500">hkj o;o jygn sa</div>
      <% end %>
    </div>
