
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>







   <%= button(label: 'Press to Copy', event: { id: new_id, listener: :click, action: :copy_text }) %>

    <%= text(label: 'Test Copy Text', event_id: id) %>
