<br />
    <%= render(InputComponent.new(label: "text select component", type: :select)) do %>
        <option selected>Choose a country</option>
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
    <% end %>