
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>




<%= button(is_test: true, label: 'Test Variant', variant: :gradient_monochrome, 
actions: [{listener: :click, action: :demo}, {listener: :hover, action: :demo}],
events: [{id: new_id, listener: :click, action: :demo}, {id: new_id, listener: :hover, action: :demo }],
klass: 'flex lfex-row bg-green-500'
) %>