<p>/</p>
<p>/</p>
<p>/</p>
<p>/</p>
    <%= button(label: 'Test Modal', event: { id: new_id, action: :open, listener: :click }) %>
    <%= modal(event: { id: id }) do %>
      <div class="">
        Executing JavaScript from a string is an BIG security risk.
        With eval(), malicious code can run inside your application without permission.
        With eval(), third-party code can see the scope of your application, which can lead to possible attacks.
      </div>
    <% end %>