<% @klass ||= "flex flex-row justify-between p-2 my-2 text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" %>

<div data-controller="alert--danger-component" class="<%= @klass %>" role="alert">
  <% if content %>
    <%= content %>
  <% else %>
    <div><%= @label %></div>
  <% end %>
  <%= render(Button::ExitComponent.new) if @closable %>
</div>