<% @klass ||= "flex flex-row justify-between p-2 my-2 text-gray-800 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300" %>

<div data-controller="alert--dark-component" class="<%= @klass %>" role="alert">
  <% if content %>
    <%= content %>
  <% else %>
    <div><%= @label %></div>
  <% end %>
  <%= render(Button::ExitComponent.new) if @closable %>
</div>