<div data-controller="alert--warning-component" class="<%= @klass %>" role="alert">
  <% if content %>
    <%= content %>
  <% else %>
    <div><%= @label %></div>
    <%= render(Button::ExitComponent.new) if @closable %>
  <% end %>
</div>