<div id="<%= dom_id payment_customer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Payment customerable:</strong>
    <%= payment_customer.payment_customerable_id %>
  </p>

</div>
