<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>





<div class="bg-red-500">
  <%= img(klass: 'object-cover h-40 w-40', src: 'https://swiperjs.com/demos/images/nature-10.jpg') %>
</div>

<div>/</div>
<div>/</div>
<div>/</div>
<% image_urls = ["https://swiperjs.com/demos/images/nature-1.jpg",
      "https://swiperjs.com/demos/images/nature-2.jpg",
      "https://swiperjs.com/demos/images/nature-3.jpg",
      "https://swiperjs.com/demos/images/nature-4.jpg",
      "https://swiperjs.com/demos/images/nature-5.jpg"] %>
<% params = {image_urls: image_urls} %>
<div data-controller="libs--carousel--swiper--thumbs-gallery" data-libs--carousel--swiper--thumbs-gallery-params-value="<%= params.to_json %>">

</div> 





















<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
