<div id="<%= dom_id category_appointment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= category_appointment.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category appointmentable:</strong>
    <%= category_appointment.appoint_to_id %>
  </p>

</div>
