<div class="w-full">
  <% content_for :title, "Category appointments" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Category appointments</h1>
    <%= link_to "New category appointment", new_category_appointment_path, class: "rounded-lg py-3 px-5 bg-slate-800 text-white block font-medium" %>
  </div>

  <div id="category_appointments" class="min-w-full">
    <% @category_appointments.each do |category_appointment| %>
      <%= render category_appointment %>
      <p>
        <%= link_to "Show this category appointment", category_appointment, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
