<div data-controller="button--copy-link-before-component" class="flex flex-row px-1 hover:cursor-pointer">
  <% if content %>
    <%= content %>
  <% else %>
    <%= render(Icon::LinkComponent.new(svg_class: "w-4 h-4")) %>
  <% end %>
</div>
