<%= tag.div(class: 'hidden ', data: {
  controller: "button--switch-component",
  button__switch_component_klass_value: @klass 
}) do %>
  <div data-button--switch-component-target="switches">
    <%= content %>  
  </div>
<% end %>
