<div data-controller="button--toggle-open-component">
  <%= render(IconComponent.new(name: 'x-mark', klass: 'absolute right-0 rounded-lg p-1.5 hover:bg-blue-200 items-center justify-center cursor-pointer', svg_class: 'w-6 h-6')) %>
</div>
