<header data-<%= view_controller(__FILE__) %>-target="header" class="flex flex-row w-full h-full">
  <div class="flex flex-row justify-between items-center w-full h-full px-4 py-4 border-b-2">
    <div>
      <a href="/education_schools">
        <div class="flex flex-row gap-x-2 justify-center items-center">
          <svg data-controller="svg" data-svg-params-value="{&quot;variant&quot;:[&quot;solid&quot;,&quot;sparkles&quot;]}" class="h-10 w-10 bg-red-500 text-white rounded-md bg-gradient-to-r from-cyan-500 to-blue-500"></svg>
          <div>Skyceer</div>
        </div>
      </a>
    </div>
    <ul class="flex flex-row gap-x-2">
      <li class=""><a href="/education_schools">Schools</a></li>
      <li><a href="/education_courses">Courses</a></li>
      <li><a href="/education_students">Students</a></li>
      <li><a href="/education_teachers">Teachers</a></li>
      <li><a href="/education_admins">Admins</a></li>
      <li><a href="/education_users">Users</a></li>
      <li><a href="/education_roles">Roles</a></li>

    </ul>
    <div class="flex flex-row" data-controller="education--user-profile-dropdown" data-education--user-profile-dropdown-is-initialized-value="true" data-education--user-profile-dropdown-params-value="{}" id="education--user-profile-dropdown:e76ba1c0-7166-404c-81f3-f3346c4d8eeb">
      <div data-controller="education--avatar" data-education--user-profile-dropdown-target="avatar" aria-expanded="false" data-education--avatar-is-initialized-value="true" data-education--avatar-params-value="{}" id="education--avatar:6e234f48-11b0-41eb-9df2-a6f994237cd6" class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600"><svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
        </svg></div>
    </div>
  </div>
</header>
<main data-<%= view_controller(__FILE__) %>-target="main">
  <article data-<%= view_controller(__FILE__) %>-target="content" class="w-full">

    <h2 class="text-center text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white lg:text-4xl mt-6 mb-2">Home Page for All Users</h2>

    <section class="bg-white dark:bg-gray-900 border-t border-gray-100 dark:border-gray-700">
      <div class="mx-auto max-w-8xl px-4 py-8 lg:px-20 lg:py-24">
        <div class="mx-auto flex w-full max-w-7xl flex-col items-center gap-12">
          <div class="flex max-w-2xl flex-col items-center justify-center gap-4">
            <h2 class="text-center text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white lg:text-4xl">Community contributors</h2>
            <p class="text-lg text-gray-500 dark:text-gray-400 text-center">Join a community of open-source contributors by tuning in with the Flowbite React community and become one of the highlighted members</p>
          </div>
          <div class="flex max-w-5xl flex-col gap-3 px-4 lg:px-8">
            <div class="flex flex-wrap items-center justify-center gap-3">
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/zoltanszogyenyi"><img src="https://avatars.githubusercontent.com/u/8052108?v=4" alt="zoltanszogyenyi avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 101.8px;" id=":r0:" role="tooltip">
                <div class="relative z-20">zoltanszogyenyi</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 60px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/robert1508"><img src="https://avatars.githubusercontent.com/u/9049421?v=4" alt="robert1508 avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 193.167px;" id=":r2:" role="tooltip">
                <div class="relative z-20">robert1508</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 45px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/Manal-el"><img src="https://avatars.githubusercontent.com/u/92878640?v=4" alt="Manal-el avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 277.875px;" id=":r4:" role="tooltip">
                <div class="relative z-20">Manal-el</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 36px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/CorwinDev"><img src="https://avatars.githubusercontent.com/u/88144943?v=4" alt="CorwinDev avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 346.25px;" id=":r6:" role="tooltip">
                <div class="relative z-20">CorwinDev</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 44px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/jmnda-dev"><img src="https://avatars.githubusercontent.com/u/65728679?v=4" alt="jmnda-dev avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 423.942px;" id=":r8:" role="tooltip">
                <div class="relative z-20">jmnda-dev</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 42px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/Lexachoc"><img src="https://avatars.githubusercontent.com/u/20377719?v=4" alt="Lexachoc avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 504.033px;" id=":ra:" role="tooltip">
                <div class="relative z-20">Lexachoc</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 38px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/jneuendorf"><img src="https://avatars.githubusercontent.com/u/6906734?v=4" alt="jneuendorf avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 573.825px;" id=":rc:" role="tooltip">
                <div class="relative z-20">jneuendorf</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 44px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/CatherineKiiru"><img src="https://avatars.githubusercontent.com/u/66266208?v=4" alt="CatherineKiiru avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 638.609px;" id=":re:" role="tooltip">
                <div class="relative z-20">CatherineKiiru</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 55.5px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/joaopalmeiro"><img src="https://avatars.githubusercontent.com/u/17132927?v=4" alt="joaopalmeiro avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 718.975px;" id=":rg:" role="tooltip">
                <div class="relative z-20">joaopalmeiro</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 51px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/shinokada"><img src="https://avatars.githubusercontent.com/u/147320?v=4" alt="shinokada avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 805px;" id=":ri:" role="tooltip">
                <div class="relative z-20">shinokada</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 41px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/szepeviktor"><img src="https://avatars.githubusercontent.com/u/952007?v=4" alt="szepeviktor avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 876.033px;" id=":rk:" role="tooltip">
                <div class="relative z-20">szepeviktor</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 46px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/daveholst"><img src="https://avatars.githubusercontent.com/u/46893433?v=4" alt="daveholst avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19250px; left: 958.117px;" id=":rm:" role="tooltip">
                <div class="relative z-20">daveholst</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 40px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/godnondsilva"><img src="https://avatars.githubusercontent.com/u/50076340?v=4" alt="godnondsilva avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 224.367px;" id=":ro:" role="tooltip">
                <div class="relative z-20">godnondsilva</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 51.5px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/dissto"><img src="https://avatars.githubusercontent.com/u/11778632?v=4" alt="dissto avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 324.467px;" id=":rq:" role="tooltip">
                <div class="relative z-20">dissto</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 27.5px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/ker0x"><img src="https://avatars.githubusercontent.com/u/5331654?v=4" alt="ker0x avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 401.8px;" id=":rs:" role="tooltip">
                <div class="relative z-20">ker0x</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 26px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/SutuSebastian"><img src="https://avatars.githubusercontent.com/u/41998826?v=4" alt="SutuSebastian avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 449.534px;" id=":ru:" role="tooltip">
                <div class="relative z-20">SutuSebastian</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 54.5px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/cordosvictor"><img src="https://avatars.githubusercontent.com/u/7070354?v=4" alt="cordosvictor avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 531.442px;" id=":r10:" role="tooltip">
                <div class="relative z-20">cordosvictor</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 48.5px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/xenolithviktor"><img src="https://avatars.githubusercontent.com/u/80096576?v=4" alt="xenolithviktor avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 601.909px;" id=":r12:" role="tooltip">
                <div class="relative z-20">xenolithviktor</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 54px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/abidra"><img src="https://avatars.githubusercontent.com/u/26470350?v=4" alt="abidra avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 703.408px;" id=":r14:" role="tooltip">
                <div class="relative z-20">abidra</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 28.5px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/AlessioGr"><img src="https://avatars.githubusercontent.com/u/70709113?v=4" alt="AlessioGr avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 769.008px;" id=":r16:" role="tooltip">
                <div class="relative z-20">AlessioGr</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 39px;">&nbsp;</div>
              </div>
              <div class="w-fit" data-testid="flowbite-tooltip-target"><a class="cursor-pointer" href="https://github.com/AlexMNet"><img src="https://avatars.githubusercontent.com/u/66364639?v=4" alt="AlexMNet avatar" class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16"></a></div>
              <div data-testid="flowbite-tooltip" tabindex="-1" class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" style="position: absolute; top: 19326px; left: 843.133px;" id=":r18:" role="tooltip">
                <div class="relative z-20">AlexMNet</div>
                <div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700" data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 41px;">&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="flex w-full max-w-5xl flex-row items-center justify-between lg:px-4">
            <div class="flex w-full flex-col items-start justify-between gap-4 rounded-lg bg-gray-50 p-4 dark:bg-gray-800 sm:flex-row sm:items-center sm:gap-8">
              <div class="hidden lg:flex items-center justify-center lg:w-fit"><svg class="w-8 h-8 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
                  <path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"></path>
                  <path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"></path>
                </svg></div>
              <div class="flex w-full flex-col">
                <h2 class="text-left text-xl font-bold tracking-tight text-gray-900 dark:text-white">Join the community</h2>
                <p class="text-gray-500 dark:text-gray-400">Become a member of a community of developers by supporting Flowbite</p>
              </div><a class="flex items-center gap-2 whitespace-nowrap text-base font-medium text-blue-700 dark:text-blue-500 hover:underline" href="https://github.com/themesberg/flowbite">See our repository <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
                </svg></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
<footer data-<%= view_controller(__FILE__) %>-target="footer" class="flex flex-row w-full h-full justify-between items-center py-4 px-20 mt-4 border-t-2">
  <div data-controller="application--logo"></div>
  <div>Home</div>
  <div>Estate</div>
  <div>About</div>
  <div>Contact</div>
</footer>