<% @klass ||= "relative w-10 h-10 rounded-full overflow-hidden bg-gray-100" %>
<% @svg_class ||= "absolute w-full h-full text-gray-400" %>

<div data-controller="icon--anonymous-component" class="<%= @klass %>" data-icon--anonymous-component-svg-class-value="<%= @svg_class %>">
</div>
