<% @klass ||= "flex justify-center items-center" %>
<% @svg_class ||= "w-4 h-4" %>

<div data-controller="icon--link-component" data-icon--link-component-svg-class-value="<%= @svg_class %>" class="<%= @klass %>"></div>