<details data-controller="accordion--block-component" class="group">
  <summary data-accordion--accordion-component-target="head" class="flex items-center justify-between w-full p-3 font-medium rtl:text-right text-gray-500 border border-gray-300 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-x-3 cursor-pointer">
    <% unless head %>
      <div><%= @label %></div>
      <div class="group-open:rotate-180 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </div>
    <% else %>
      <%= head %>
    <% end %>
  </summary>
  <%= body if body? %>
</details>