<div data-controller="accordion--block-component">
  <div>
    <div><%= @label %></div>
    <%= render(Icon::ChevronComponent.new) %>
  </div>
  <div>
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
</div>
