<div data-controller="accordion--default-component">
  <div tabindex="0" class="group list-none cursor-pointer flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-900 hover:bg-blue-100 group-open:bg-blue-100 group-open:text-sky-600">
      <div><%= @label %></div>
      <%= render(Icon::SmallArrowComponent.new) %>
  </div>
  <div>
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
</div>
