<div data-controller="accordion--group-component" class="hidden ">
  <% accordions.each_with_index do |accordion, index| %>
    <%= accordion %>

    <% if separator && (index + 1) != accordions.size %>
      <%= separator %>
    <% end %>
  <% end %>
</div>
