<div data-controller="page--demo--header-component" class="flex flex-col justify-center items-center bg-gradient-to-r from-blue-900 to-blue-500">
  <%= render(LinkComponent.new) { image_tag("https://demo.dashboardpack.com/architectui-html-pro/assets/images/logo.png") } %>
  <%= render(ButtonComponent.new) { render(Icon::Bars3Component.new) } %>
  <%= render(ButtonComponent.new) { render(Icon::MagnifyingGlassComponent.new) } %>
</div>
