<div data-controller="tooltip--default-component" class='<%= @klass %>'>
  <div class="<%= @arrow_class %>"></div>
  <%= content ? content : "Popover here! Popover here! Popover here! Popover here! Popover here! Popover here! Popover here! Popover here!" %> 
</div>