<%= tag.div(
  class: 'hidden',
  data: {
    controller: "popover--default-component",
    popover__default_component_klass_value: @klass,
    popover__default_component_position_value: @position,
    popover__default_component_trigger_event_value: @trigger_event }) do 
%>
  
  <div data-popover--default-component-target="content">
    <% if content %>
      <%= content %>
    <% else %>
      <div class="text-black">Popover Content</div>
    <% end %>
  </div>

<% end %>