<div data-controller="tab--default-component" class="<%= @klass %>">
  <div data-tab--default-component-target="headers">
    <%= headers %>
  </div>
  <div data-tab--default-component-target="bodies">
    <%= bodies %>
  </div>
</div>
