<%= tag.div(class: 'hidden ', data: {
  controller: @controller,
  action: @action,
  tab__default_component_klass_value: @klass,
  tab__default_component_headers_class_value: @headers_class,
  tab__default_component_header_class_value: @header_class,
  tab__default_component_bodies_class_value: @bodies_class,
  tab__default_component_body_class_value: @body_class
}) do %>

  <div data-tab--default-component-target="headers">
    <%= headers %>
  </div>

  <div data-tab--default-component-target="bodies">
    <%= bodies %>
  </div>

<% end %>
