<div id="<%= dom_id payment_discount_appointment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Payment user:</strong>
    <%= payment_discount_appointment.payment_user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment discount:</strong>
    <%= payment_discount_appointment.payment_discount_id %>
  </p>

</div>
