<div data-controller="table--rerender-component">
  <table>
    <tr>
      <th data-value="Company"></th>
      <th data-value="Contact"></th>
      <th data-value="Country"></th>
    </tr>
    <tr>
      <td data-value="Alfreds Futterkiste"></td>
      <td data-value="Maria Anders"></td>
      <td data-value="Germany"></td>
    </tr>
    <tr>
      <td data-value="Centro comercial Moctezuma"></td>
      <td data-value="Francisco Chang"></td>
      <td data-value="Mexico"></td>
    </tr>
    <tr>
      <td data-value="Ernst Handel"></td>
      <td data-value="Roland Mendel"></td>
      <td data-value="Austria"></td>
    </tr>
  </table>
</div>
