<div data-controller="dropdown--hover-component" class="relative inline-block group">
  <%= render(ButtonComponent.new) %>
  <ul class='hidden group-hover:block absolute z-10 bg-slate-100 p-2 rounded-md'>
    <%= body? ? body : "Dropdown Items" %>
  </ul>
</div>
