<% @klass ||= "relative inline-block group" %>

<div data-controller="dropdown--language-component" class="<%= @klass %>">
  <button class='flex flex-row justify-center items-center bg-blue-700 text-white p-2 rounded-md gap-x-2'>
      <%= head? ? head : @label %>
      <div class="group-hover:rotate-180">
        <svg class="w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
      </div>
  </button>
  <div>
    <ul class='hidden group-hover:block absolute z-10 bg-slate-100 p-2 rounded-md'>
      <% @languages.each do |language_key, language_name| %>
        <li class="cursor-pointer hover:bg-gray-200" data-action="click->language#<%= language_key %>"><%= language_name %></li>
      <% end %>
    </ul>
  </div>
</div>