<% case @color %>
<% when :gray %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-gray-600" %>
<% when :black %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-black" %>
<% when :blue %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-blue-600" %>
<% when :green %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-green-600" %>
<% when :red %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-red-600" %>
<% when :purple %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-purple-600" %>
<% when :indigo %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-indigo-600" %>
<% when :yellow %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-yellow-600" %>
<% when :teal %>
  <% @svg_class ||= "w-8 h-8 text-gray-200 animate-spin fill-teal-600" %>
<% end %>

<div data-controller="indicator--spinner-component" class="flex justify-center items-center" data-indicator--spinner-component-svg-class-value="<%= @svg_class %>">
</div>