<div data-controller="input--remember-me-component" data-input--remember-me-component-fields-value="<%= @fields.to_s %>" class="flex flex-row">
  <%= render(Input::CheckboxComponent.new) %>
  <div class="flex mx-2">
    Remember Me
  </div>
</div>
