<label data-controller="input--toggle-component">
  <input type="hidden" name="<%= @name %>" value="0">
  <input data-input--toggle-component-target="input" type="checkbox" name="<%= @name %>" value="1" class="sr-only peer">
  <div data-input--toggle-component-target="toggle"></div>
</label>